.container{
    display: flex;
    justify-content: center;
   
}
.child-div{
    width: 200px;
    height: 250px;
    background-size: cover;
   
    
    
}
.product-div{
    border: 1px solid;
    margin: 10px;
    width: 200px;
}
